    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    /* ==== THEME VARIABLES ==== */
    :root {
        --bg: #8ecae6;
        --text: #000000;
        --muted: #6c757d;
        --primary: #615fff;
        --card-bg: #f8f9fa;
        --hr: #000000;
    }

    .dark-mode{
        --bg: #212529;
        --text: #ffffff;
        --muted: #ced4da;
        --primary: #615fff;
        --card-bg: #212529;
        --card-color: #000000;
        --hr: #ffffff;
    }

    html,
    body {
        min-height: 100%;
        scroll-behavior:smooth;
    }

    body {

        background-color: var(--bg);
        color: var(--text);
        margin: 0;
    }

    header {
        position: fixed;
        width: 100%;
        background: var(--bg);
    }

    .container {
        max-width: 1800px;
        margin: 0 20px;
        padding: 0 10px;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }

    .search input {
        width: 100%;
        border-radius: 50px;
        padding: 15px;
        border: none;
        height: 35px;
    }

    .logo h4 {
        font-size: 28px;
        color: var(--primary);
    }

    .nav-links {
        list-style: none;
        display: flex;
    }

    .nav-links li {
        margin-left: 20px;
        height: 25px;
    }

    .nav-links a {
        text-decoration: none;
        color: var(--text);
        transition: color 0.3s ease;
    }

    .nav-links li hr {
        display: none;
        margin: auto;
        width: 25px;
        border: none;
        height: 1.5px;
        background-color: var(--hr);
        transition: all 0.3s ease;
    }

    .nav-links li:hover hr {
        display: block
    }

    .nav-link:hover hr {
        display: block;
    }

    .theme button {
        color: #000000;
        border: none;
        padding: 5px 10px;
        border-radius: 20px;
    }

    .hero {
        margin: auto;
        height: 600px;
        width: 1000px;
    }

    section {
        margin: auto;
        height: 600px;
        width: 600px;
    }

    .hero {
        display: flex;
        justify-content: baseline;
        text-align: left;
        padding: 120px 60px;
    }

    .hero button {
        background: var(--primary);
        font-size: 15px;
        color: var(--text);
        border: none;
        margin-top: 15px;
        padding: 8px 16px;
        border-radius: 5px;
    }

    .hero button:hover {
        background: #00b4d8;

    }

    .about {
        justify-content: center;
        text-align: center;
        padding: 100px 20px;
    }

    .projects {
        justify-content: center;
        text-align: center;
        padding: 100px 20px;
    }

    .hero h1 {
        padding: 0 30px;
        padding-top: 60px;
        font-size: 50px;
        margin-bottom: 5px;
        color: var(--primary);
    }

    .hero button {
        margin-left: 30px;
        padding: 10px 20px;
    }

    .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        justify-content: center;
        align-items: center;
    }

    .modal-content {
        display: flex;
        background: #fff;
        padding: 20px;
        width: 1000px;
        height: 500px;
        border-radius: 8px;
        position: relative;
    }
    .modal-content img{
        margin: 50px;
        width: 250px;
        border-radius: 50px;
    }
    .modal-content h2{
        text-align: center;
        margin-bottom: 30px;
    }
    .modal-content pre{
        margin-bottom: 30px;
    }
    .modal-content a{
        text-decoration: none;
        color:#ffffff;
        padding: 8px 16px;
        background: var(--primary);
        border-radius: 6px;;
    }
    .close {
        position: absolute;
        top: 10px;
        right: 15px;
        cursor: pointer;
        font-size: 20px;
    }

    .hero p {
        padding: 0 30px;
        font-size: 20px;
        color: var(--text);
    }

    .about h1 {
        font-size: 60px;
    }

    h3 {
        font-size: 36px;
        margin-bottom: 20px;
        color: var(--primary);
    }

    .about p {
        font-size: 18px;
        margin-bottom: 15px;
        color: var(--text);
    }

    .project {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .point {
        display: flex;
        width: 250px;
        max-height: 60px;
        margin-bottom: 20px;
    }

    .point h4 {
        text-align: left;
        font-size: 15px;
        margin-bottom: 10px;

    }

    .project p {
        font-size: 15px;
        justify-content: center;
        text-align: justify;
    }

    .card {
        width: 700px;
        height: 350px;
        padding: 40px;
        background: var(--card-bg);
        border-radius: 8px;
        margin: 10px;
    }

    .point h2 {
        background: var(--primary);
        margin-right: 10px;
        width: 55px;
        border-radius: 5px;
        padding: 4px 0 0 0;
    }

    .point a {
        text-decoration: none;
        color: var(--text);
    }

    .slides {
        display: flex;
        justify-content: center;
        margin: 10px 50px;
        gap: 50px;

    }

    .slide {
        background: #ffffff;
        text-align: center;

        padding: 10px;
        width: 150px;
        height: 100px;
        border-radius: 8px;
    }

    .slide svg {
        width: 50px;
        margin: auto;
    }

    .slide a {
        text-decoration: none;
        font-weight: bold;
        color: var(--card-color);
    }

    .slide a:hover {
        color: var(--primary);
    }

    .slide:hover {
        scale: 1.1;
        transition: 0.3s ease-in;
    }

    svg {
        fill: var(--card-color);
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
        --blue: #003049;
        --text: #000;
    }

    body {
        background: #bde0fe;
    }

    header {
        position: fixed;
        width: 100%;
        background: #bde0fe;
    }

    .container {
        max-width: 1200px;
        margin: 0 20px;
        padding: 0 10px;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }

    .logo h4 {
        color: var(--blue);
    }

    .nav-links {
        list-style: none;
        display: flex;
    }

    .nav-links li {
        margin-left: 20px;
        height: 25px;
    }

    .nav-links a {
        text-decoration: none;
        color: #333;
        font-weight: 500;
        transition: color 0.3s ease;
    }

    .nav-links li hr {
        display: none;
        margin: auto;
        width: 25px;
        border: none;
        height: 1.5px;
        background-color: #000;
        transition: all 0.3s ease;
    }

    .nav-links li:hover hr {
        display: block
    }

    .nav-link:hover hr {
        display: block;
    }

    .box {
        height: 450px;
    }

    .hero {
        display: flex;
        justify-content: baseline;
        text-align: left;
        padding: 120px 60px;
    }

    .hero button {
        background: var(--blue);
        color: #fff;
        border: none;
        margin-top: 15px;
        box-shadow: 0 0 10px #06d6a0;
        padding: 8px 16px;
        border-radius: 5px;
    }

    .hero button:hover {
        background: #06d6a0;
        color: #000;
    }

    .about,
    .projects {
        justify-content: center;
        text-align: center;
        padding: 100px 20px;

    }

    .hero h1 {
        font-size: 35px;
        margin-bottom: 5px;
        color: var(--blue);
    }

    .hero p {
        font-size: 20px;
        color: #666;
    }

    .about h1 {
        font-size: 60px;
    }

    .about h3 {
        font-size: 36px;
        margin-bottom: 20px;
        color: var(--blue);
    }

    .about p {
        font-size: 22px;
        margin-bottom: 15px;
        color: #666;
    }

    .project {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .point {
        display: flex;
        max-height: 45px;
        margin-bottom: 10px;
    }

    .point h4 {
        text-align: left;
        margin-bottom: 10px;

    }

    .project p {
        font-size: 15px;
    }

    .card {
        max-height: 300px;
        padding: 10px;
        background: #fff;
        border-radius: 8px;
        margin: 10px;
    }

    .point h2 {
        background: #560bad;
        margin-right: 10px;
        width: 55px;
        border-radius: 5px;
        padding: 4px 0 0 0;
    }

    .point a {
        text-decoration: none;
        color: var(--text);
    }