    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box; 
            font-family: 'Poppins', sans-serif;
            --blue:#003049;
            --text:#000;
        } 
        body{
            background: #bde0fe;
        }
        header{
            position: fixed;
            width: 100%;
            background: #bde0fe;
        }
        .container{
            max-width: 1200px;
            margin:0 20px;
            padding:0 10px;
        }
        nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0;
        }
        .logo h4{
            color:var(--blue);
        }
        .nav-links{
            list-style: none;
            display: flex;
        }
        .nav-links li{
            margin-left: 20px;
            height:25px;
        }
        .nav-links a{
            text-decoration: none;
            color: #333;
            font-weight: 500;
            transition: color 0.3s ease;
        }
        .nav-links li hr{
            display:none;
            margin:auto;
            width: 25px;
            border:none;
            height: 1.5px;
            background-color: #000;
            transition: all 0.3s ease;
        }
        .nav-links li:hover hr{
           display:block
        }
       
        .nav-link:hover hr{
            display:block;
        }
        .box{
            height:450px;
        }
        .hero{
            display: flex;
            justify-content: baseline;
            text-align:left;
            padding:120px 60px;
        }
        .hero button{
            background: var(--blue);
            color: #fff;
            border:none;
            margin-top:15px;
            box-shadow: 0 0 10px #06d6a0;
            padding: 8px 16px;
            border-radius: 5px;
        }
        .hero button:hover{
            background: #06d6a0;
            color: #000;
        }
         .about, .projects{
            justify-content: center;
            text-align: center;
            padding: 100px 20px;
         
        }
       .hero h1{
            font-size: 35px;
            margin-bottom: 5px;
            color: var(--blue);
        }
        .hero p{
            font-size: 20px;
            color: #666;
        }
        .about h1{
            font-size:60px;
        }
        .about h3{
            font-size: 36px;
            margin-bottom: 20px;
            color: var(--blue);
        }
        .about p{
            font-size: 22px;
            margin-bottom: 15px;
            color: #666;
        }
        .project{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .point{
            display: flex;
            max-height: 45px;
            margin-bottom: 10px;
        }
        .point h4{
            text-align: left;
            margin-bottom: 10px;
            
        }
        .project p{
            font-size: 15px;
        }
        .card{
            max-height:300px ;
            padding: 10px;
            background: #fff;
            border-radius: 8px;
            margin:10px;
                }
                .point h2{
                    background: #560bad;
                    margin-right: 10px;
                    width:55px;
                    border-radius: 5px;
                    padding: 4px 0 0 0;
                }
                .point a{
                    text-decoration: none;
                    color:var(--text);
                }