    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box; 
            font-family: 'Poppins', sans-serif;
        }
        body{
            background: #bde0fe;
        }
        header{
            position: fixed;
            width: 100%;
            background: #bde0fe;
        }
        .container{
            max-width: 1200px;
            margin:0 20px;
            padding:0 10px;
        }
        nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0;
        }
        .nav-links{
            list-style: none;
            display: flex;
        }
        .nav-links li{
            margin-left: 20px;
            height:25px;
        }
        .nav-links a{
            text-decoration: none;
            color: #333;
            font-weight: 500;
            transition: color 0.3s ease;
        }
        .nav-links li hr{
            display:none;
            margin:auto;
            width: 25px;
            border:none;
            height: 1.5px;
            background-color: #000;
            transition: all 0.3s ease;
        }
        .nav-links li:hover hr{
           display:block
        }
       
        .nav-link:hover hr{
            display:block;
        }
        .box{
            height:450px;
        }
        .hero, .about, .projects{
            justify-content: center;
            text-align: center;
            padding: 100px 20px;
         
        }
        .hero img{
            width: 250px;
            border-radius: 50%;
            margin-bottom: 20px;
        }
        .hero h1{
            font-size: 60px;
            margin-bottom: 20px;
            color: #333;
        }
        .hero p{
            font-size: 20px;
            color: #666;
        }
        .about h1{
            font-size:60px
        }
        .about h3{
            font-size: 36px;
            margin-bottom: 20px;
            color: #333;
        }
        .about p{
            font-size: 22px;
            margin-bottom: 15px;
            color: #666;
        }
       
